<article class="item">
    <div class="item-content">
        <img src="{{img}}" class="item-image">
        <div class="item-holder name">
            <p class="name-tag"> 
                {{name}}
            </p>
        </div>
        <div class="item-holder type">
            <p class="type-tag"> 
                {{type}}
            </p>
        </div>
        <div class="item-holder rarity">
            <p class="rarity-tag">
                {{rarity}}
            </p>
        </div>
        <div class="item-holder element">
            <p class="element-tag">
                {{element}}
            </p>
        </div>
        <div class="item-holder ammo">
            <p class="ammo-tag">
                {{ammo}}
            </p>
        </div>
        <div class="item-holder season">
            <p class="season-tag">
                {{season}}
            </p>
        </div> 
        
    </div>
    <button type="button" class="expand">Details</button>
    <div class="expanded-content">
        <p>These are made just need to implement</p> 
        //Need to add code for the implemetaion of the extraContent.json file
    </div>
</article>