<article class="item">
    <div class="item-content">
        <img src="{{img}}" class="item-image">
        <div class="item-holder name">
            <p>
                {{name}}
            </p>
        </div>
        <div class="item-holder rarity">
            <p>
                {{rarity}}
            </p>
        </div>
        <div class="item-holder element">
            <p>
                {{element}}
            </p>
        </div>
        <div class="item-holder ammo">
            <p>
                {{ammo}}
            </p>
        </div>
        <div class="item-holder season">
            <p>
                {{season}}
            </p>
        </div> 
        
    </div>
    <button type="button" class="expand">Details</button>
    <div class="expanded-content">
        <p>test</p>
    </div>
</article>